body{
	padding: 0px;
	margin: 0px;
	overflow:hidden;
		font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#canvasContainer{
	position:absolute;
	top: 0px;

}
#theCanvas{
//position:absolute;
	height:100vh;
	width:100vw;
//	border: 1px solid;
}
#mario1{
	transform: rotate(90deg);

}
.playerInfo{
	z-index:20;
	padding: 30px;
	position:absolute;
	//display:none !important;
	font-size:2em;
	border-radius: 10px;
}
.playerInfo h1{
	font-size:1em;

}
#player1, #player2, #player3, #player4{
	display:none;
}
#player1{
		top:100px;
	left: 5px;
	background-color:rgba(200,200,255,0.5);
}
#player1 h1{
 color:blue;
}
#player2{
		top:100px;
	right: 5px;
	background-color:rgba(255,200,200,0.5);
}
#player2 h1{
 color:red;
}
#player3{
		top:500px;
	left: 5px;
	background-color:rgba(215,215,20,0.3);
}
#player3 h1{
 color:rgb(165, 165, 8);
}
#player4{
		top:500px;
	right: 5px;
	background-color:rgba(200,255,200,0.5);
}
#player4 h1{
 color:green;
}


#info{
	position:absolute;
	z-index:21;
	width:100vw;
	font-size:3em;
	bottom:2vh;
	text-align:center;
	color:black;
}

#testButtons{
	position:absolute;
	z-index:10;
	display:none;

}